

@font-face {
    font-family: 'Infini';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/infini-regular.woff') format('woff');
}

@font-face {
    font-family: 'Infini';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/infini-bold.woff') format('woff');
}
