
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/WorkSans-Light.woff2') format('woff2'),
       url('../fonts/WorkSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/WorkSans-Regular.woff2') format('woff2'),
       url('../fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/WorkSans-Bold.woff2') format('woff2'),
       url('../fonts/WorkSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/WorkSans-Black.woff2') format('woff2'),
       url('../fonts/WorkSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/WorkSans-Italic.woff2') format('woff2'),
       url('../fonts/WorkSans-Italic.woff') format('woff');
}
